.Akademik {
  text-align: center;
  font-family: "Montserrat";
  letter-spacing: -0.017em;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/Montserrat-Thin.ttf"),
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/Montserrat-ExtraLight.ttf")
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Montserrat-Light.ttf")
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Montserrat-Regular.ttf")
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Montserrat-Medium.ttf")
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Montserrat-SemiBold.ttf")
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/Montserrat-Bold.ttf")
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/Montserrat-ExtraBold.ttf")
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/Montserrat-Black.ttf")
}

iframe {
  pointer-events: none;
}