.main {
    margin: 0px 16.25%
}

.image {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.greeting {
    font-size: 50px;
    position: absolute;
    top: 350px;
    left: 250px;
    text-shadow: 1px 1px lightgray;
    color: white
}

.latestHeader {
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;
}

.text {}